body{
	padding:0px;
	margin:0px;
	font-family:"Calibri";
	overflow-x:hidden
}

.menu{
	display:flex;
	position:absolute;
	top:0px;
	width:100%;
	height:6.448vw;/*80px*/
	z-index:50;
	display:block;
}
.page1{
	background-image:url(../img/head-01.png);
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:42.8vw;
	z-index:1;
}
.page2{
	background-color:#2a242b;
	background-size:100vw;
	position:absolute;
	left:0px;
	top:42.8vw;/*531px*/
	width:100vw;
	height:42.8vw;
}
.page3{
	background-color:#f0e569;
	background-size:100vw;
	position:absolute;
	left:0px;
	top:85.6vw;
	width:100vw;
	height:29.82297552vw;
}
.menu span img{
	padding-top:0.8vw;
	width:5vw;
}
.icon{
	position:absolute;
	height:10vw;
	width:25vw;
	margin-left:0.4vw;
	
}
.pic{
	position:absolute;
}
.fintech{
	position:absolute;
	padding-top:2.01vw;
	padding-left:5.64vw;
	color:orange;
	font-size:2.41vw;
	font-family:Calibri;
	
}
.home{
	position:absolute;
	margin-left:20vw;
	width:30vw;
	height:6.448vw;
	padding-top:2.01vw;
	cursor:pointer;
}
.m_sub{
	padding-left:1.5vw;
	color:white;
	font-size:2.256vw;
	
}
.about_list{
	display:none;
	position:absolute;
	left:8.9vw;
	color:white;
	font-size:2.256vw;
}
.p1_l_d{
	display:flex;
	position:absolute;
	width:50vw;
	height:6.448vw;
	bottom:0px;
	
}
.download,.store{
	position:relative;
	height:6.448vw;
	padding-left:0.403vw;
}
.store{
	display:none;
}
.download img{
	height:75%;
	padding-left:0.403vw;
	padding-top:1.6vw;
}
.store img{
	height:65%;
	padding-top:1.2vw;
}
/*第一頁 中間 下邊*/
.p1_r_d{
	display:flex;
	position:absolute;
	width:50%;
	height:12.896vw;
	bottom:0px;
	right:0px;
}
.facebook{
	position:relative;
	height:100%;
}
.facebook img{
	height:50%;
	padding-left:0px;
	padding-top:4.03vw;
}
.facebook_f{
	padding-left:24.18vw;
}
/*第一頁 中間 右邊*/
.p1_r_c{
	display:flex;
	position:absolute;
	width:50vw;
	height:12.09vw;
	right:6.448vw;
	top:10.7vw;
	border-color:white;
	border-style:solid;
	border-width:0.403vw;
	
}
.fintech_c{
	width:9.67vw;	
}

.fintech_c img{
	margin-top:1.61vw;
	
	height:70%;
}
.fintech_w{
	padding-top:4.83vw;
	padding-left:0.403vw;
	color:orange;
	font-size:3.224vw;
	font-family:Calibri;
}
.fintech_t{
	font-size:2.41vw;
	padding:4.03vw 2vw 0px 4.836vw;
}
/*第二頁*/
.p2_c_t{
	text-align:center;
	position:absolute;
	height:25.68vw;
	width:100vw;
	top:0px;
}
.feature{
	padding:3.224vw 24.18vw 3.224vw 24.18vw;
	height:2.418vw;
	font-size:3.224vw;
	color:orange;
}
.feature_icon{
	padding-top:1.612vw;
	
}
.feature_icon img{
	height:40%;
	padding-left:0px;
	padding-top:0.5vw;
}
.p2_c_d{
	text-align:center;
	position:absolute;
	height:17.12vw;
	width:100vw;
	bottom:0px;
}
.p2_c_d_p1{
	font-size:1.773vw;
	color:orange;
	padding:0.483vw 10vw 1vw 10vw;
	
}
.p2_c_d_p2{
	
}
.p2_c_d_p2	img{
	height:30%;
	padding-left:0px;
	bottom:5vw;
	
}
/*第三頁*/
.p3_whole{
	display:flex;
	position:absolute;
	width:100vw;
	height:29.82297552vw;
}
/*參考資料 https://siongui.github.io/zh/2015/02/06/responsive-embed-youtube/*/
.video-container{
	
	position: relative;
	padding-right:30vw;
	padding-bottom: 25vw;
	margin:2.2vw;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100%;
    height: 100%;
}

.video_content{
	margin-top:2.03vw;
	
	
}
.video_title{
	font-size:3.224vw;
	padding-right:4.03vw;
}
.video_text{
	font-size:2.2vw;
	padding-top:1vw;
	padding-right:4vw;
}
